matplotlib==3.5.1
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
python_dateutil==2.8.2
wordcloud==1.8.1
defusedxml~=0.7.1
cffi~=1.15.0
ipython~=8.2.0
zlib~=1.2.11
jupyter~=1.0.0
pip~=21.2.4
attrs~=21.4.0
wheel~=0.37.1
brotli~=1.0.9
openssl~=1.1.1n
tornado~=6.1
jinja2~=3.1.1
pytz~=2022.1
numpy~=1.22.3
setuptools~=58.0.4
markupsafe~=2.1.1
python-dateutil~=2.8.2
scipy~=1.8.0
six~=1.16.0
fonttools~=4.31.2
freetype~=2.10.4
unicodedata2~=14.0.0
pyparsing~=3.0.7
cycler~=0.11.0
packaging~=21.3
ipykernel~=6.12.1
kiwisolver~=1.4.2
sklearn~=0.0
scikit-learn~=1.0.2